<ul>
  <li>Find me</li>	
 <li class="arrow"><%= link_to("..something to eat", "/things/eat" )%></li>
 <li class="arrow"><%= link_to("..somewhere to sleep", "/things/sleep" )%></li>
 <li class="arrow"><%= link_to("..something to see", "/things/see" )%></li>
 <li class="arrow"><%= link_to("..places to shop", "/things/shop" )%></li>
 <li class="arrow"><%= link_to("..somewhere to drink", "/things/night" )%></li>
 <li class="arrow"><%= link_to("..something to do", "/things/do" )%></li>	
</ul>	

