<ul>
<li><%= @poi.name%></li>
  <% if @poi.opening_hours %>
 <li><%= "Opening info: #{@poi.opening_hours}"%></li>
  <% end %>
  <% if @poi.full_address %>
 <li><%= "Location: #{@poi.full_address}"%></li>
  <% end %>
  <% if @poi.phone_number %>
 <li><%= "Phone: #{@poi.phone_number}"%></li>
  <% end %>
  <% if @poi.url %>
 <li class='arrow'><a href="http://<%= "#{@poi.url}"%>" target="_blank"><%= @poi.url %></a></li>
  <% end %>
 <li><%= raw @poi.review%></li>
</ul>

<ul>
  <% if @poi.lp_mobile_url %>
	<li class='arrow'><a href=<%="#{@poi.lp_mobile_url}"%> target="_blank">Lonely Planet mobile</a></li>
  <% end %>	
<% if @place %>
  <% if @poi.lp_mobile_url.nil? %>
<li class='arrow'><a href=<%="http://www.lonelyplanet.com/searchResult?q=#{lp_search_term}"%> target="_blank">Search on Lonely Planet</a></li>
  <% end %>
<li class='arrow'><a href=<%="http://www.google.com/m/search?q=#{google_search_term}"%> target="_blank">Search google</a></li>
  <% if @poi.type == 'Sleep' %>
<li class='arrow'><a href=<%="http://www.tripadvisor.com/MobileSearch-s#{tripadvisor_search_term}"%> target="_blank">Search tripadvisor.com</a></li>
  <% end %>
<% end %>
<% if @poi.is_mapable? %>
<li class='arrow'><a href=<%="http://maps.google.com/maps?q=#{@poi.latitude},#{@poi.longitude}(#{@poi.url_safe_name})"%> target="_blank">Show on map</a></li>
<% end %>
</ul>


