<!DOCTYPE html>
<html>
  <head>
    <title>tinytrek.com</title>
      <%= stylesheet_link_tag "/jqtouch/jqtouch.min.css" %>
      <%= stylesheet_link_tag "/jqtouch/themes/apple/theme.min.css" %>
      <%= stylesheet_link_tag "application" %>
      <%= javascript_include_tag "/jqtouch/jquery.1.3.2.min.js" %>
      <%= javascript_include_tag "/jqtouch/jqtouch.js" %>
      <%= javascript_include_tag "mobile" %>
  </head>
  <body>
    <div class="current">
      <div class="toolbar">
        <h1><%= @title || "" %></h1>
		<% unless @home_page %>
		  <a class='back rounded flip'>Back</a>
		  <a href="/" class='button rightButton flip'>New Search</a>
		<% end %>
      </div>  
      <%= yield %>
    </div>
	<script language="javascript">
      if(navigator.appName.indexOf("Internet Explorer") != -1)
	  {
	    alert('Sorry this site does not currently support Internet Explorer.');
	    document.location = "http://www.amazon.com/gp/product/B00032G1S0/";	
	  }	
	</script>
  </body>
</html>
